<a href="https://colab.research.google.com/github/mayankus/Loan-Application-Count/blob/master/Decode6_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from fancyimpute import KNN

In [ ]:
train = pd.read_csv('https://raw.githubusercontent.com/mayankus/Loan-Application-Count/master/Train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/mayankus/Loan-Application-Count/master/Test.csv')

In [ ]:
train.head()

  APPLIED_DATE  GROUP  BRANCH_ID        STATE  ZONE  APPLICATION_COUNT
0   2017-04-01      1          0  WEST BENGAL  EAST               55.0
1   2017-04-03      1          0  WEST BENGAL  EAST               10.0
2   2017-04-04      1          0  WEST BENGAL  EAST               13.0
3   2017-04-05      1          0  WEST BENGAL  EAST              125.0
4   2017-04-07      1          0  WEST BENGAL  EAST               83.0

In [ ]:
test.head()

  APPLIED_DATE  GROUP  BRANCH_ID        STATE  ZONE
0   2019-05-01      1          0  WEST BENGAL  EAST
1   2019-05-02      1          0  WEST BENGAL  EAST
2   2019-05-03      1          0  WEST BENGAL  EAST
3   2019-05-04      1          0  WEST BENGAL  EAST
4   2019-05-05      1          0  WEST BENGAL  EAST

In [ ]:
train.describe()

              GROUP     BRANCH_ID  APPLICATION_COUNT
count  73580.000000  73580.000000       73580.000000
mean       1.165262     47.941017         190.153561
std        0.371420     26.879253         734.817676
min        1.000000      0.000000           3.000000
25%        1.000000     24.000000          12.000000
50%        1.000000     49.000000          26.000000
75%        1.000000     74.000000          68.000000
max        2.000000     83.000000       13797.000000

In [ ]:
train.isnull().sum()

APPLIED_DATE             0
GROUP                    0
BRANCH_ID                0
STATE                    0
ZONE                 12160
APPLICATION_COUNT        0
dtype: int64

In [ ]:
train.dtypes

APPLIED_DATE          object
GROUP                  int64
BRANCH_ID              int64
STATE                 object
ZONE                  object
APPLICATION_COUNT    float64
dtype: object

In [ ]:
train.columns

Index(['APPLIED_DATE', 'GROUP', 'BRANCH_ID', 'STATE', 'ZONE',
       'APPLICATION_COUNT'],
      dtype='object')

In [ ]:
zone_group = train.groupby(['ZONE']).count().reset_index()
zone_group

      ZONE  APPLIED_DATE  GROUP  BRANCH_ID  STATE  APPLICATION_COUNT
0  CENTRAL          1480   1480       1480   1480               1480
1     EAST         19980  19980      19980  19980              19980
2    NORTH          7400   7400       7400   7400               7400
3    SOUTH         17020  17020      17020  17020              17020
4     WEST         15540  15540      15540  15540              15540

In [ ]:
train['ZONE'].isna().sum()

12160

In [ ]:
train['ZONE'].fillna('XYZ', inplace=True)

In [ ]:
train['ZONE'].isna().sum()

0

In [ ]:
train['ZONE'].isnull().sum()

0

In [ ]:
train

      APPLIED_DATE  GROUP  BRANCH_ID        STATE  ZONE  APPLICATION_COUNT
0       2017-04-01      1          0  WEST BENGAL  EAST               55.0
1       2017-04-03      1          0  WEST BENGAL  EAST               10.0
2       2017-04-04      1          0  WEST BENGAL  EAST               13.0
3       2017-04-05      1          0  WEST BENGAL  EAST              125.0
4       2017-04-07      1          0  WEST BENGAL  EAST               83.0
...            ...    ...        ...          ...   ...                ...
73575   2019-04-26      2         83  WEST BENGAL   XYZ             2137.0
73576   2019-04-27      2         83  WEST BENGAL   XYZ             1468.0
73577   2019-04-28      2         83  WEST BENGAL   XYZ              851.0
73578   2019-04-29      2         83  WEST BENGAL   XYZ              346.0
73579   2019-04-30      2         83  WEST BENGAL   XYZ               83.0

[73580 rows x 6 columns]

In [ ]:
#zone = ['CENTRAL','EAST','WEST','NORTH','SOUTH']
#zone_blank = []
#for r in train['ZONE']:
#  if r == 'XYZ':
#    zone_blank.append(r)

#len(zone_blank)

In [ ]:
train['APPLIED_DATE'] = pd.to_datetime(train['APPLIED_DATE'], errors='coerce')

In [ ]:
train['year'] = train['APPLIED_DATE'].dt.year
train['month'] = train['APPLIED_DATE'].dt.month
train['day'] = train['APPLIED_DATE'].dt.day

In [ ]:
print(train.isnull().sum())
print(train.isnull().count())
# Finding out the percentage of the null columns
total = train.isnull().sum().sort_values(ascending=False)
percent = ((train.isnull().sum()/train.isnull().count()).sort_values(ascending=False))*100
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data = missing_data.sort_values('Total', ascending = True)
missing_data

APPLIED_DATE         0
GROUP                0
BRANCH_ID            0
STATE                0
ZONE                 0
APPLICATION_COUNT    0
year                 0
month                0
day                  0
dtype: int64
APPLIED_DATE         73580
GROUP                73580
BRANCH_ID            73580
STATE                73580
ZONE                 73580
APPLICATION_COUNT    73580
year                 73580
month                73580
day                  73580
dtype: int64

                   Total  Percent
day                    0      0.0
month                  0      0.0
year                   0      0.0
APPLICATION_COUNT      0      0.0
ZONE                   0      0.0
STATE                  0      0.0
BRANCH_ID              0      0.0
GROUP                  0      0.0
APPLIED_DATE           0      0.0

In [ ]:
#train=train.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
#train['ZONE'].replace(r'^\s*$', np.nan, regex=True)

In [ ]:
#train['ZONE'].isnull().sum()

In [ ]:
#train.isnull().sum()

In [ ]:
train=train.drop('APPLIED_DATE',axis=1)

In [ ]:
#train.head()

In [ ]:
#train.isnull().sum()

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
train['STATE'] = le.fit_transform(train['STATE'])
test['STATE'] = le.fit_transform(test['STATE'])

In [ ]:
#train['ZONE'].fillna('Not Avaiable',inplace = True)

In [ ]:
train['ZONE'] = le.fit_transform(train['ZONE'])
#test['ZONE'] = le.fit_transform(test['ZONE'])

In [ ]:
train.head()

   GROUP  BRANCH_ID  STATE  ZONE  APPLICATION_COUNT  year  month  day
0      1          0     19     1               55.0  2017      4    1
1      1          0     19     1               10.0  2017      4    3
2      1          0     19     1               13.0  2017      4    4
3      1          0     19     1              125.0  2017      4    5
4      1          0     19     1               83.0  2017      4    7

In [ ]:
train=pd.DataFrame(KNN(k=3).fit_transform(train),columns=train['ZONE'], index=train.index)

/usr/local/lib/python3.6/dist-packages/fancyimpute/solver.py:58: UserWarning: Input matrix is not missing any values
  warnings.warn("Input matrix is not missing any values")

In [ ]:
train.head()

   GROUP  BRANCH_ID  STATE  ZONE  APPLICATION_COUNT  year  month  day
0      1          0     19  EAST               55.0  2017      4    1
1      1          0     19  EAST               10.0  2017      4    3
2      1          0     19  EAST               13.0  2017      4    4
3      1          0     19  EAST              125.0  2017      4    5
4      1          0     19  EAST               83.0  2017      4    7

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y_train=train.APPLICATION_COUNT
x_train=train.drop('APPLICATION_COUNT',axis=1)

In [ ]:
x_train.head()

   GROUP  BRANCH_ID  STATE  ZONE  year  month  day
0      1          0     19  EAST  2017      4    1
1      1          0     19  EAST  2017      4    3
2      1          0     19  EAST  2017      4    4
3      1          0     19  EAST  2017      4    5
4      1          0     19  EAST  2017      4    7

In [ ]:
y_train.head(), y_train.shape

(0     55.0
 1     10.0
 2     13.0
 3    125.0
 4     83.0
 Name: APPLICATION_COUNT, dtype: float64, (73580,))

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(x_train,y_train)
lr_predit = lr.predit(test)
lr_predit

ValueError: ignored

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 1).fit(x_train,y_train)
rf_prediction = rf.predict(x_test)

ValueError: ignored

In [ ]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
lr = LinearRegression()
sfs1 = sfs(lr, k_features=4, forward=True, verbose=1, scoring='neg_mean_squared_error')

In [ ]:
sfs1 = sfs1.fit(x_train.values, y_train.values)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.3s finished
/usr/local/lib/python3.6/dist-packages/mlxtend/feature_selection/sequential_feature_selector.py:510: RuntimeWarning: Mean of empty slice
  all_avg_scores.append(np.nanmean(cv_scores))
Features: 1/4[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.1s finished
/usr/local/lib/python3.6/dist-packages/mlxtend/feature_selection/sequential_feature_selector.py:510: RuntimeWarning: Mean of empty slice
  all_avg_scores.append(np.nanmean(cv_scores))
Features: 2/4[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished
/usr/local/lib/python3.6/dist-packages/mlxtend/feature_selection/sequential_feature_selector.py:510: RuntimeWarning: Mean of empty slice
  all_avg_scores.append(np.nanmean(cv_scores))
Features: 3/4[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'SOUTH'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'EAST'

  FitFailedWarning)